{% extends "SocialBundle::layout.html.twig" %}

{% block body %}
   <div class="container">
    {% if error %}
       <span>Il manque une information</span> 
    {% endif %}
    {{ form_start(form, {'method': 'POST', 'action':'/new', 'id': 'newForm'}) }}
       
       <div id="get_youtube_API">Tester vidéo</div>
       <div id="choix_video"></div>
       
    {{ form_end(form) }}
    </div>

{% endblock %}